*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montesterat;
    /* color: white; */
}
html,body{
    height: 100%;
    width: 100%;
}

#nav{
    background-color: #F1C6C1;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    /* position: fixed; */
    z-index: 101;
    color: black;
}
#nav img{
    height: 75px;
    display: flex;
}
main{
    background-color: #B7C5A8;
}

 /* Products Section */
.products {
    max-width: 1200px;
    margin: auto auto;
    padding: 10px 20px;
}
.products2 {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    top: 20%;
}
.product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-item img {
    max-width: 100%;
    border-radius: 8px;
}
.product-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}
.product-item p {
    font-size: 0.9rem;
    color: #555;
}
.product-item button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}
.product-item button:hover {
    background-color: #0056b3;
}
